.footer {
    p {
        color: $primary-color;
        letter-spacing: .5px;
        // font-weight: 700;
    }
    a {
        color: $primary-color;
        text-decoration: none;
    }
}

#contact-footer {
    a {
        text-decoration: none;
    }
    h3 {
        font-size: 2.2rem;
        // font-weight: bold;
    }
}