.section {
    min-height: 20vh;
}

#intro {
    background-image: url(/assets/img/bridgeo3.jpg);
    background-position: center right;
    background-size: cover;
    margin: 65px 0;
    @media (min-width: 762px) {
        background-size: 90% auto;
        margin: 100px 0;
        padding-bottom: 200px;
    }

    @media (min-width: 1024px) {
        background-size: 76% auto;
        
    }

    background-repeat: no-repeat;
    min-height: 50vh;
    // margin-bottom: 7em;

    // h1:nth-of-type(2) {
    //     @media (min-width: 762px) {
    //         display: none;
    //     }
    // }
    // h1:nth-of-type() {
    //     display: none;
    //     @media (min-width: 762px) {
    //         display: initial;
    // }

    .bg-white {
        padding: 40px 20px;
        @media (min-width: 762px) {
            padding: 40px 55px;
            margin-top: 6rem;
        }

        h3 {
            margin-top: 10px;
            @media (min-width: 762px) {
                margin-top: 38px;
            }
            
        }
        
    }
      
}


#expertise {
    .container {
        padding-top: 8em;
        padding-bottom: 8em;
    }
    background-color: $primary-color;
    .box {
        color: white;
        border-left: 16px solid white;
    }

    h2 {
        color: white;
        font-size: 2.375rem;
    }
}

#links {
    background: linear-gradient(
        to right, 
        #fff 0%, 
        #fff 66%, 
        $primary-color 66%, 
        $primary-color 100%);
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    .bg-row {
        background-position: center right;
        background-size: 85% auto;
        background-repeat: no-repeat;
        min-height: 400px;
        @media (min-width: 762px) {
            margin-top: 8em;
        }
        .box {
            h3 {
                color: $primary-color;
                font-size: 2.25rem;
            }
            p {
                color: gray;
            }

            .arr {
                font-size: 3rem;
                color: $secondary-color;
            }
        }
    }
}