 .navbar{
    //  position: fixed;
     width: 100%;

     .bg-sec{
        height: 75px;

        @media (min-width: 762px) {
            height: 135px;
        }
     }
 }

 
 .navbar-scroll-effect {
     justify-content: flex-end!important;
 }

 .navbar-toggler {
     letter-spacing: 2px;
     font-size: .55rem;

     @media (min-width: 762px) {
       font-size: .75rem;
     }
    // font: initial;
 }


 .navbar-brand {
    //  position: absolute;
    img {
        height: 48px;
    } 
    
}

.menu {
    
    a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        // padding: 35px 0 15px;
    }

    a:hover {
        color: darken(white,20%)
    }
}