#process {
    background-image: url(/assets/img/dean-building.png);
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    @media (min-width: 762px) {
        min-height: 50vh;
    }
}

