#process {
  background-image: url(/assets/img/process-hero-img.jpg);
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  @media (min-width: 762px) {
    min-height: 50vh;
  }
}

.process-page {
  .section {
    text-align: center;
    h4 {
      color: #bdbfc1;
      text-transform: uppercase;
      font-size: 2rem;
    }

    h3 {
      font-size: 2rem;
      color: $primary-color;
      text-transform: uppercase;
    }
  }
}

.section1 {
  .svg-container {
    padding: 1rem;
  }

  svg {
    height: 100px;
  }

  p {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

.section-2-card {
  // background: $primary-color;
  padding-top: 1.5rem;

  .svg-container {
    padding: 1rem;
  }

  svg {
    height: 90px;
  }

  p {
    padding-top: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

// .section-2-card:nth-child(odd) {
//     background: $primary-color;
//     width: 250px;
//     color: white;
// }

.grey-bg {
  background: #f1f1f2;

  p {
    padding: 2rem;
    margin-bottom: 0;
    align-self: center;

    span {
      color: $primary-color;
      font-size: 12px;
    }
  }
}

.section-3-card {
  padding: 2rem;

  span {
    width: 80%;
    border-bottom: 2px solid grey;
  }

  p {
    text-align: left;
    @media (max-width: 762px) {
      text-align: center;
    }
  }

  svg {
    height: 90px;
  }
}

.section4 {
  .step4-card {
    height: 130px;
    border: solid 2px lightgrey;
    padding: 0 1rem;

    p {
      margin-bottom: 0;
    }
  }
}

.section5 {
  .card-img-top {
    height: 95px;
    margin: 2rem 0;
  }
  .card-body {
    background: $secondary-color;
    color: white;
  }
}

.section6 {
  p {
    background: $primary-color;
    color: white;
    padding: 2rem 0;

    @media (min-width: 762px) {
      padding: 2rem;
    }
  }
  p:first-of-type {
    background: $secondary-color;
  }

  h5 {
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .section-6-card {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .half-circle {
      width: 200px;
      height: 100px;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      border: 6px solid $primary-color;
      border-bottom: 0;
    }

    .svg-container {
      padding: 1rem;
      margin-top: -56px;
    }

    svg {
      height: 90px;
    }

    p {
      padding-top: 1rem;
      background: none;
      color: black;
    }
  }
}

.circle-section {
  display: flex;
  height: 200px;
  width: 200px;
  background: $secondary-color;
  color: white;
  margin: 1rem;

  @media (min-width: 762px) {
    margin: 2rem;
  }
}

.green-bg-bottom {
  background: $primary-color;
  color: white;
  width: 100%;
  padding: 2rem;
  margin-bottom: 5rem;
  margin-top: 1rem;

  @media (min-width: 762px) {
    margin-bottom: 10rem;
  }

  p {
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 0;
  }
}
/* For larger screens */
@media (min-width: 768px) {
    .pl-sm-4 {
        padding-left: 1.5rem; /* Adjust padding as needed */
        margin-bottom: 40px; /* Add bottom margin to prevent overlap */
    }
}

/* For smaller screens (mobile) */
@media (max-width: 767px) {
    .pl-sm-4 {
        padding-left: 0; /* Adjust to zero or small padding for mobile */
        margin-bottom: 20px; /* Adjust as needed for mobile */
    }
}

