#team {
    background-image: url(/assets/img/team.png);
    background-size: cover;
    min-height: 30vh;
}

.team-photo {
    background-position: center center;
    background-size: cover;
    min-height: 300px;    

}