#team {
    background-image: url(/assets/img/work-space.jpg);
    background-size: cover;
    min-height: 30vh;
    @media (min-width: 762px) {
        min-height: 50vh;
    }
}

.team-photo {
    background-position: center center;
    background-size: cover;
    min-height: 300px;    

}