@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$primary-color: #78BD9B;
$accent-color: #ffb200;
$secondary-color: #741236;
$theme-font: 'Open Sans', Helvetica, sans-serif;

* {
    font-family: $theme-font;
}
.bg-pri {
    background-color: $primary-color;
}

.bg-sec {
    background-color: $secondary-color;
}

h1,h2 {
    color: $primary-color;
    font-weight: 700;
}

h3,h4,h5 {
    color: $secondary-color;
    font-weight: 700;
}

.intro-paragraph {
    color: darkgray;
    @media (min-width: 762px) {
        bottom: -150px;
        position: relative;
        min-height: 300px;    
        border-left: $primary-color 20px solid;    
    }
}