@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300&display=swap');
$primary-color: #78BD9B;
$accent-color: #ffb200;
// $secondary-color: #C69DAD;
$secondary-color: #741335;
$theme-font: 'Montserrat', sans-serif;
$secondary-font: 'Source Serif Pro', serif;

* {
    font-family: $theme-font;
}

body {
    overflow-x: hidden;
}
.bg-pri {
    background-color: $primary-color;
}

.bg-sec {
    background-color: $secondary-color;
}

h1,h2 {
    color: $primary-color;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    @media (min-width: 762px) {
        font-size: 3.375rem;
        letter-spacing: 8px;
    }
    
    // color: #78BD9B;
    // font-weight: 700;
    // text-transform: uppercase;
}

h3,h4,h5 {
    color: $secondary-color;
    font-weight: 300;
    font-size: 1.25rem;
    font-family: $secondary-font;
}

p{
    line-height: 160%;
}

.intro-paragraph {
    color: darkgray;
    // line-height: 160%;
    @media (min-width: 762px) { 
        bottom: -71px;
        position: relative;
        min-height: 300px;
        border-left: #78BD9B 16px solid;
       
        // /* margin-bottom: 6rem; 
    }

    p {
        @media (min-width: 762px) {
            width: 19rem;   
        }
    }
    p {
        @media (min-width: 1024px) {
            width: 29rem; 
        }
    }
}
   

.page-header {
    padding-top: 10rem;
    @media (min-width: 762px) {
        padding-top: 14.5rem;
        
    }

}