#vision {
    background-image: url(/assets/img/dean-building.jpg);
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    @media (min-width: 762px) {
        min-height: 50vh;
    }
}



#img-container {
    min-height: 100vh;
}

.img-vision {
    object-fit: cover;
}