<div class="bg-pri d-flex align-items-end footer" id="footer" style="min-height: 35vh">
    <div class="container pb-5">
        <div class="p-5 bg-white">
            <p>+1 (720) 780-5665</p>
            <p>anything@taqtyle.com</p>
        </div>
    </div>
</div>


<script type="text/javascript" src="{{'/assets/js/jquery-3.4.1.min.js'|relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/bootstrap.min.js'|relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/ekko.js'|relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/main.js'|relative_url}}"></script>