{% unless page.contact %}
    <div class="bg-sec" id="contact-footer">
        <div class="container py-5">
            <a href="/contact/">
                <div class="ml-auto text-center">
                    <p class="text-white">contact
                        <span class="arr">→</span>
                    </p>

                </div>
            </a>
        </div>
    </div>
{% endunless %}

<div class="bg-pri d-flex align-items-end footer pt-5" id="footer" style="min-height: 25vh">
    <div class="container py-5">
        <div class="row p-5 bg-white text-center justify-content-center">
            {% if page.contact %}
                <div class="col-sm-4">
                    <img alt="Location" class="contact-icon mb-2" src="/assets/img/icons/pin.svg">
                    <p>
                        {{site.data.general.items.contact.street}}
                        <br>
                        {{site.data.general.items.contact.city}}
                    </p>

                </div>
            {% endif %}
            <div class="col-md-4">
                <img alt="Location" class="contact-icon mb-2" src="/assets/img/icons/mail.svg">
                <p>
                    <a href="mailto:{{site.data.general.items.contact.mail}}">{{site.data.general.items.contact.mail}}</a>
                </p>
            </div>
            <div class="col-md-4">
                <img alt="Location" class="contact-icon mb-2" src="/assets/img/icons/phone.svg">
                <p>{{site.data.general.items.contact.phone}}</p>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{'/assets/js/bootstrap.min.js'|relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/ekko.js'|relative_url}}"></script>
<script type="text/javascript" src="{{'/assets/js/main.js'|relative_url}}"></script>