{% unless page.url contains "404" %}

{% case page.lang %}
    {% when "en" %}
        {% assign nav = site.data.english.items.home.navigation %}
    {% when "es" %}
        {% assign nav = site.data.spanish.items.home.navigation %}
{% endcase %}

<div class="pos-f-t fixed-top">
    <div class="sidebar">
        <div class="menu-icon mr-sm-5 text-white" id="hide-icon">
            <p class="hide-icon p-2 pt-md-4 pb-5 text-uppercase">
                {{nav.close}}
            </p>
        </div>
        <div class="menu">
            <p class="lang-picker">
                {% case page.lang %}
                    {% when "en" %}
                        language: english<a class="ml-2" href="/es/">spanish</a>
                    {% when "es" %}
                        idioma: español<a class="ml-2" href="/en/">inglés</a>
                {% endcase %}
            </p>
            <ul>
                <li>
                    <a class="text-lowercase" href="/{{page.lang}}">{{nav.home}}</a>
                </li>
                {% for i in nav.items %}
                    <li>
                        <a href="/{{page.lang}}{{i.url}}">{{i.name}}</a>
                    </li>
                {% endfor %}^
            </ul>
        </div>
    </div>


    <nav class="navbar">
        <a class="navbar-brand logo" href="/{{page.lang}}/">
            <img class="ml-sm-5" alt="{{site.title}}" src="/assets/img/taqtyle-logo.png">
        </a>
        <div class="menu-icon bg-sec mr-sm-5 text-white p-2 pt-md-4 pb-3 text-uppercase d-flex align-items-start flex-column">
            <p class="mb-auto">
                {{nav.menu}}
            </p>
            <p class="mb-0 text-uppercase"><img alt="Location" class="lang-icon mr-2" src="/assets/img/icons/global.svg">{{page.lang}}</p>
        </div>
    </nav>
</div>

{% endunless %}
