---
layout: base
---

{% case page.lang %}
    {% when "en" %}
        {% assign data = site.data.english.items.contact %}
    {% when "es" %}
        {% assign data = site.data.spanish.items.contact %}
{% endcase %}


<div class="section d-flex align-items-center">
    <div class="container">
        <div class="row page-header">
            <div class="col offset-md-1">
                <h1>{{data.heading}}</h1>
            </div>
            <div class="col-md-4 offset-md-6 intro-paragraph">
                <p class="pl-sm-4">{{data.paragraph}}</p>
            </div>
        </div>
    </div>
</div>

<div class="section bg-light">
    <div class="container contact-container py-5 ,t-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6 pt-5 mt-5">
                <form class="mb-4"
                id="contactForm"
                action="{{data.form.redirect}}"
                name="contact"
                method="POST"
                netlify>
                    <p class="fw-semibold mb-1">{{data.form.iam}}<sup>*</sup></p>
                    <select
                        name="contact_category"
                        class="form-control"
                    >
                        <option selected disabled>{{data.form.choose}}</option>
                        {% for i in data.form.roles %}
                        <option value="{{i| handleize}}">{{i}}</option>
                        {% endfor %}
                    </select>

                    <label for="inputEmail" class="form-label mt-3 mb-0 fw-semibold">
                        {{data.form.email}}
                        <sup>*</sup>
                    </label>
                    <input
                        name="email"
                        type="email"
                        class="form-control border-2 rounded-1"
                        id="inputEmail"
                        required
                    />

                    <label for="inputEmail" class="form-label mt-3 mb-0 fw-semibold">
                        {{data.form.fname}}
                        <sup>*</sup>
                    </label>
                    <input
                        name="first_name"
                        type="text"
                        class="form-control border-2 rounded-1"
                        id="inputFName"
                        required
                    />

                    <label for="inputEmail" class="form-label mt-3 mb-0 fw-semibold">
                        {{data.form.lname}}
                        <sup>*</sup>
                    </label>
                    <input
                        name="last_name"
                        type="text"
                        class="form-control border-2 rounded-1"
                        id="inputLName"
                        required
                    />

                    <label for="inputEmail" class="form-label mt-3 mb-0 fw-semibold">
                        {{data.form.message}}
                        <sup>*</sup>
                    </label>
                    <textarea
                        name="message"
                        class="form-control border-2 rounded-1"
                        id="inputMessage"
                        rows="4"
                        required
                    ></textarea>

                    <button type="submit" class="btn btn-primary mt-4 px-4">{{data.form.submit}}</button>
                    <p class="mt-4">{{data.form.fields}}</p>
                </form>
                <div id="contactSuccess" class="d-none py-5">
                    <h3 class="text-dark">{{data.form.success.heading}}</h1>
                    <p class="lead mt-5">{{data.form.success.text}}</p>
                </div>

            </div>
        </div>
    </div>
</div>