---
layout: base
---

{% case page.lang %}
    {% when "en" %}
        {% assign data = site.data.english.items.process %}
    {% when "es" %}
        {% assign data = site.data.spanish.items.process %}
{% endcase %}

<div class="process-page">

    <div class="section d-flex align-items-center">
        <div class="container">
            <div class="row page-header">
                <div class="col-md-6 offset-md-1">
                    <h1>{{data.heading}}</h1>
                </div>
                <div class="col-md-4 offset-md-6 intro-paragraph">
                    <p class="pl-sm-4 text-left">{{data.paragraph}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-fluid" id="process"></div>
    </div>

    <!-- step 1 -->
    <div class="container d-flex flex-column section section1 pb-5">
        <div class="text-center pt-5 mt-5 mb-4">
            <h4>{{data.step_1.heading}}</h4>
            <h2>{{data.step_1.subheading}}</h2>
        </div>
        <div class="row justify-content-center">
            {% for i in data.step_1.items %}
                <div class="col-12 col-lg-4 section-1-card">
                    <div class="svg-container">
                        <svg viewbox="{{i.svg.viewbox}}" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                {{i.style}}
                            </defs>
                            <g data-name="Layer 2" id="Layer_2">
                                {{i.svg.layer}}
                            </g>
                        </svg>
                    </div>
                    <p>{{i.label}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- step 2 -->
    <div class="container d-flex flex-column section pb-5">
        <div class="text-center pt-5 mt-5 mb-4">
            <h4>{{data.step_2.heading}}</h4>
            <h2>{{data.step_2.subheading}}</h2>
        </div>
        <div class="row justify-content-center">
            {% for i in data.step_2.items %}
                <div class="col-12 col-lg-4 section-2-card">
                    <div class="svg-container">
                        <svg viewbox="{{i.svg.viewbox}}" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                {{i.style}}
                            </defs>
                            <g data-name="Layer 2" id="Layer_2">
                                {{i.svg.layer}}
                            </g>
                        </svg>
                    </div>
                    <p>{{i.label}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- step 3 -->
    <div class="container section pb-5">
        <div class="text-center pt-5 mt-5 mb-4">
            <h4>{{data.step_3.heading}}</h4>
            <h2>{{data.step_3.subheading}}</h2>

            <h5 class="mt-5">{{data.step_3.description}}</h5>
            <p>{{data.step_3.description2}}</p>
        </div>
        <div class="row grey-bg">
            {% for i in data.step_3.boxes %}
                <div class="col-md-6">
                    <p>{{i.main}}
                        {% if i.small %}
                            <br>
                            <span>{{i.small}}</span>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="row card-containter">
            {% for i in data.step_3.items %}
                <div class="col-sm-6 section-3-card">
                    <div class="row">
                        <div class="col-md-4">
                            <svg viewbox="{{i.svg.viewbox}}" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #73be99;
                                        fill-rule: evenodd;
                                    }
                                </style>
                                </defs>
                                <g data-name="Layer 2" id="Layer_2">
                                    {{i.svg.layer}}
                                </g>
                            </svg>
                        </div>
                        <div class="col-md-8 mt-2">
                            <p>{{i.label}}</p>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- step 4 -->
    <div class="section section4 pb-5">
        <div class="container">
            <div class="">
                <div class="pt-5 mt-5 mb-4">
                    <h4>{{data.step_4.heading}}</h4>
                    <h2>{{data.step_4.subheading}}</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% for i in data.step_4.items %}
                    <div class="col-md-4">
                        <div class="step4-card mb-4 d-flex align-items-center justify-content-center">
                            <p class="">{{i.label}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- step 5 -->
    <div class="section section5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt-5 mt-5 mb-4">
                    <h4>{{data.step_5.heading}}</h4>
                    <h2>{{data.step_5.subheading}}</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 card-deck">
                {% for i in data.step_5.items %}
                    <div class="card">
                        <img alt="Card image cap" class="card-img-top" src="{{i.svg}}">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="card-text">{{i.label}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- step 6 -->
    <div class="container section section6 pb-5">
        <div class="text-center pt-5 mt-5 mb-4">
            <h4>{{data.step_6.heading}}</h4>
            <h2>{{data.step_6.subheading}}</h2>
        </div>
        <div class="row">
            {% for i in data.step_6.boxes %}
                <p class="col-md-6">{{i}}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <h5>{{data.step_6.extraheading}}</h5>
        </div>
        <div class="row">
            {% for i in data.step_6.items %}
                <div class="col-md-4 section-6-card">
                    <div class="half-circle"></div>
                    <div class="svg-container">
                        <svg viewbox="{{i.svg.viewbox}}" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <style>
                                .cls-red,
                                .cls-2 {
                                    fill: #65072a;
                                }

                                .cls-red {
                                    fill-rule: evenodd;
                                }
                            </style>
                            </defs>
                            <g data-name="Layer 2" id="Layer_2">
                                {{i.svg.layer}}
                            </g>
                        </svg>
                    </div>
                    <p>{{i.label}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- step 7 -->
    <div class="container section section7 pb-5">
        <div class="text-center">
            <h4>{{data.step_7.heading}}</h4>
            <h2>{{data.step_7.subheading}}</h2>
        </div>

        <div class="row">
            {% for i in data.step_7.items %}
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-circle circle-section align-items-center">
                        <p>{{i}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="green-bg-bottom p-4 mb-5 mt-3">
            <p>{{data.step_7.box}}</p>
        </div>
    </div>

</div>