---
layout: base
---

{% case page.lang %}
    {% when "en" %}
        {% assign data = site.data.english.items.team %}
    {% when "es" %}
        {% assign data = site.data.spanish.items.team %}
{% endcase %}

<div class="section d-flex align-items-center">
    <div class="container">
        <div class="row page-header">
            <div class="col offset-md-1">
                <h1>{{data.heading}}</h1>
            </div>
            <div class="col-md-4 offset-md-6 intro-paragraph">
                <p class="pl-sm-4">{{data.paragraph}}</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container-fluid" id="team"></div>
</div>

<div class="section bg-light">
    <div class="container team-container">
        {% for i in data.items %}
        {% if i.active %}
            <div id="team-{% increment counter %}">
                {% assign test = counter|modulo: 2 %}
                {% if counter == 5 or counter == 2 %}
                    <h2 class="partners">Partners</h2>
                {% endif %}
                <div class="row pb-5 mb-5">
                    <div class="col-lg-7 bg-white p-sm-5">
                        <div class="my-5 mx-md-5">
                            <h4 class="mb-0">{{i.name}}</h4>
                            <p class="text-dark font-weight-bold">{{i.role}}</p>
                            <p class="mt-4">{{i.text}}</p>
                            <p>
                                <a href="{{i.website}}">{{i.website-name}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 team-photo{% if test == 0 %} order-sm-first{% endif %}" style="background-image: url({{i.img}});"></div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>